<a href="https://colab.research.google.com/github/Aseel-Mira/project1/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data types

1- String (str): 

It's what you write inside the quotation mark: ' ' or  " ".

In [ ]:
name = 'asil'
print(type(name))

age = "28"
print(type(age))

<class 'str'>
<class 'str'>

2- Integer (int):

They are numbers without a comma, either it was positive or negative.

In [ ]:
number1 = 28
print(type(number1))

number2 = -10
print(type(number2))

<class 'int'>
<class 'int'>

3- Floats (float):

They are numbers with a comma (,).

In [ ]:
number1 = 176.5
print(type(number1))

number2 = -100.2
print(type(number2))

<class 'float'>
<class 'float'>

4- List (list):

You can write more than one value inside the square brackets [..].

In [ ]:
age = [1,2,3,4]
print(type(age))

<class 'list'>

5- Tuple (tuple):

You can write more than one value but inside parentheses (..).

In [ ]:
age = (1,2,3,4)
print(type(age))

<class 'tuple'>

6- Dictionary (dict):

It's about writing more than one value but inside the curly brackets {..}, and each value with it's definition.

In [ ]:
clients = {"Ahmed" : 1, "Mohannad" : 2}
print(clients)
print(type(clients))

{'Ahmed': 1, 'Mohannad': 2}
<class 'dict'>

7- Boolean (bool):
Boolean statements it's true or false.

In [ ]:
False
print(type(False))

True
print(type(True))

<class 'bool'>
<class 'bool'>

# Expressions

1- Addition (+):

An operation in which you add two or more numbers.

In [ ]:
a = 5+3
print(a)

8

2- Subtraction (-):

An operation in which you subtract two or more numbers.

In [ ]:
b = 5-3
print(b)

2

3- Multiplication (*):

An operation in which you subtract two or more numbers.

In [1]:
c = 5*5
print(c)

25

4- Division process (/):

An operation that divides two or more numbers.

In [2]:
g = 100/5
print(g)

20.0

5- The largest number to divide (//):

In [ ]:
a = 50//4
print(a)

12